.result{
    .result-row{
        width: 100%;
        .card{
            background-color: white !important;
            color: blueviolet;
      
        }
        img{
            transition: all .3s ease;
            animation: appear 1s ease .2s 1 normal forwards;
        }

    }
}


@keyframes appear {
    0%{
       transform: scale(0);
    }

    80%{
       transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}